# NL2SQL 

In this notebook we demo the usage of agentic schema refinement for NL2SQL (unsupervised version). We use [BIRD-SQL](https://bird-bench.github.io/), a widely used benchmark for Text-to-SQL.

In [31]:
import os
import json
import shutil
import pandas as pd
import ast

from src.utils import prompt_llm, extract_json_from_llm_response, flatten, text_embedding
from src.database import SQLiteDatabase
from src.postprocess import process_views
from src.refinement import refine_schema

In [32]:
database_name = 'california_schools'
result_version = 'refine'
nl_to_sql_file = './workspace/bird/dev.json'

# Create workspace
workspace = f'./workspace/bird/dev_databases/{database_name}/{result_version}'
os.makedirs(workspace, exist_ok=True)

# Copy database into workspace. This is the database that will be modified during the refinement process.
original_database_file = f'./workspace/bird/dev_databases/{database_name}/{database_name}.sqlite'
database_file = os.path.join(workspace, f'{database_name}_{result_version}.sqlite')
shutil.copy(original_database_file, database_file)

'./workspace/bird/dev_databases/california_schools/refine/california_schools_refine.sqlite'

In [33]:
db = SQLiteDatabase(database_name, database_file, nl_to_sql_file)

## Multi-agent Schema Refinement

### Schema Refinement

Run the multi-agent refinement framework. During the schema refinement process agents have individual chat sessions where they engage in view creation.
The chat log will be used to extract views in the next stage.

In [34]:
log_file = os.path.join(workspace, f'refine_{db.database_name}.log')

In [35]:
!python src/refinement.py \
    --workspace {workspace} \
    --db_name {database_name} \
    --db_file {database_file} \
    --instr_file './agent_instructions.yml' \
    --temperature 0.2 \
    --verify \
    --n_chats 5 \
    --n_rounds 10 \
    --n_verification_rounds 8 \
    --subsample \
    --n_samples 10 \
    --n_sampled_tables 3 \
    --sample_data \
    --cache_seed 10 \
    &> {log_file}

^C

### Postprocessing

* The chat log is parsed into individual chats. (`refine_<database_name>_chats.jsonl`)
* Each chat is then processed by an LLM agent to extact one or more pairs of a high level analysis task together with the set of views that are useful to solve the task. This dataset will be used for instruction tuning in the next stage. (`refine_<database_name>_task_views.jsonl`)
* Each view definition is parsed by a SQL parser to detect the original tables and columns it uses. The set of original tables and columns are called sources. Views that share sources are later associated in a graph. (`refine_<database_name>_sql_parsed.jsonl`)

In [ ]:
process_views(db, workspace, log_file, generate_instructions=True)

Generating task - view pairs for , chat 1 / 5...
Found 1 task - view pairs for , chat 1 / 5
Generating task - view pairs for , chat 2 / 5...
Found 1 task - view pairs for , chat 2 / 5
Generating task - view pairs for , chat 3 / 5...
Found 1 task - view pairs for , chat 3 / 5
Generating task - view pairs for , chat 4 / 5...
Found 1 task - view pairs for , chat 4 / 5
Generating task - view pairs for , chat 5 / 5...
Found 1 task - view pairs for , chat 5 / 5

### Retrieve Views 

Start by retrieving the generated views. The view definitions are previously parsed by a SQL parser (`refine_<database_name>_sql_parsed.jsonl`). For each view, 
* Find the source tables and columns that appear in the view definitions. Note, we only care about columns that appear in the header, as these are the attributes the view contains. It is possible that interemediate columns are used to connect data from different tables, i.e., in JOIN statements.  
* Generate textual descriptions for the views. We ask an LLM model to generate a one-sentence description for the each view, given the view definition. The description should focus on the semantic interpretation rather that the structure.

In [ ]:
views_parsed_file = os.path.join(workspace, f'refine_{db.database_name}_sql_parsed.jsonl')

In [ ]:
df = pd.DataFrame(columns=['view_name', 'view_description', 'tables', 'columns', 'sql'])

# TODO: handle views defined with nested queries (multiple SELECT clauses)

with open(views_parsed_file, 'r') as f:
    lines = f.readlines()
    for line in lines:
        view_dict = json.loads(line)
        if isinstance(view_dict['sql_parsed'], dict):
            if view_dict['view_name']:
                view_name = view_dict['view_name'].replace('__', ' ').replace('_', ' ')
                column_set = set([c for c in flatten(view_dict['sql_parsed']['select']) if isinstance(c, str)])
                table_set = set([c.split('.')[0] for c in column_set]) # keep only the tables that appear in the header
                if '__all__' in column_set:
                    continue
                llm_description = prompt_llm(f"Provide a one-sentence description for the database view defined as follows: {view_dict['sql']} . Focus on the semantic interpretation rather that the structure. Reply with one short sentence.", "You are a database expert.")
                _columns_in_header = [c.replace('__', ' ').replace('_', ' ') for c in column_set]
                sources = ['column {} from table {}'.format(c.split('.')[1], c.split('.')[0]) for c in _columns_in_header]
                text = "Name: {}. Sources: {}. Description: {}".format(view_name, ', '.join(sources), llm_description)
                view_data ={'view_name': view_dict['view_name'], 'view_description': text, 'tables': table_set, 'columns': column_set, 'sql': view_dict['sql']}
                df = pd.concat([df, pd.DataFrame([view_data])], ignore_index=True)

# remove duplicates
df = df.drop_duplicates(subset=['sql'])

display(df.head())
print('Total number of views:', len(df))

,view_name,view_description,tables,columns,sql
0,vw_educational_option_type,Name: vw educational option type. Sources: col...,{__schools},"{__schools.edopsname__, __schools.cdscode__}",CREATE VIEW vw_educational_option_type AS SELE...
1,vw_funding_type,Name: vw funding type. Sources: column funding...,{__schools},"{__schools.fundingtype__, __schools.cdscode__}","CREATE VIEW vw_funding_type AS SELECT CDSCode,..."
2,vw_sat_scores,Name: vw sat scores. Sources: column cds from...,{__satscores},"{__satscores.cds__, __satscores.avgscrwrite__,...",CREATE VIEW vw_sat_scores AS SELECT cds AS CDS...
3,vw_school_charter_type,Name: vw school charter type. Sources: column ...,{__schools},"{__schools.charter__, __schools.cdscode__, __s...",CREATE VIEW vw_school_charter_type AS SELECT C...
4,vw_sat_scores,Name: vw sat scores. Sources: column cds from...,{__satscores},"{__satscores.cds__, __satscores.avgscrwrite__,...",CREATE VIEW vw_sat_scores AS SELECT cds AS sch...

Total number of views: 5

### View Embeddings

Use the textual descriptions previously generated to produce embeddings. Save the dataframe that contains descriptions, table and column sources together with the embedding in the workspace. (`refine_<database_name>_views.csv`)

In [ ]:
df['embedding'] = df.view_description.apply(lambda x: text_embedding(x, model='text-embedding-3-large'))
df.to_csv(os.path.join(workspace, f'refine_{db.database_name}_views.csv'), index=False)

In [ ]:
df = pd.read_csv(os.path.join(workspace, f'refine_{db.database_name}_views.csv'))
df['embedding'] = df['embedding'].apply(lambda x: ast.literal_eval(x))
df['tables'] = df['tables'].apply(lambda x: ast.literal_eval(x))
df['columns'] = df['columns'].apply(lambda x: ast.literal_eval(x))
display(df.head())
print('Total number of views:', len(df))

,view_name,view_description,tables,columns,sql,embedding
0,vw_educational_option_type,Name: vw educational option type. Sources: col...,{__schools},"{__schools.edopsname__, __schools.cdscode__}",CREATE VIEW vw_educational_option_type AS SELE...,"[-0.023970622569322586, 0.02528347633779049, -..."
1,vw_funding_type,Name: vw funding type. Sources: column funding...,{__schools},"{__schools.fundingtype__, __schools.cdscode__}","CREATE VIEW vw_funding_type AS SELECT CDSCode,...","[-0.02504539303481579, 0.02912590466439724, -0..."
2,vw_sat_scores,Name: vw sat scores. Sources: column cds from...,{__satscores},"{__satscores.cds__, __satscores.avgscrwrite__,...",CREATE VIEW vw_sat_scores AS SELECT cds AS CDS...,"[-0.028855403885245323, 0.020014284178614616, ..."
3,vw_school_charter_type,Name: vw school charter type. Sources: column ...,{__schools},"{__schools.charter__, __schools.cdscode__, __s...",CREATE VIEW vw_school_charter_type AS SELECT C...,"[-0.0025452047120779753, 0.023426348343491554,..."
4,vw_sat_scores,Name: vw sat scores. Sources: column cds from...,{__satscores},"{__satscores.cds__, __satscores.avgscrwrite__,...",CREATE VIEW vw_sat_scores AS SELECT cds AS sch...,"[-0.031003190204501152, 0.018674014136195183, ..."

Total number of views: 5

## NL2SQL Evaluation

In [ ]:
queries = db.get_nl_queries()

In [ ]:
test_query_id = 10
print(queries[test_query_id])

Query    : For the school with the highest average score in Reading in the SAT test, what is its FRPM count for students aged 5-17?
SQL      : SELECT T2.`FRPM Count (Ages 5-17)` FROM satscores AS T1 INNER JOIN frpm AS T2 ON T1.cds = T2.CDSCode ORDER BY T1.AvgScrRead DESC LIMIT 1

### Retrieve Relevant Views

In [ ]:
def retrieve_top_k_views(view_df, query: str, k: int = 5):
    """
    Retrieve the top-k most relevant views for a given query.
    """
    query_embedding = text_embedding(query, model='text-embedding-3-large')
    view_df['similarity'] = view_df.embedding.apply(lambda x: np.dot(query_embedding, x))
    top_k_views = view_df.sort_values('similarity', ascending=False).head(k)
    return top_k_views

top_k_relevant_views = retrieve_top_k_views(df, queries[test_query_id].get_nl_query(), k=5)
top_k_relevant_views_wording = '\n\n'.join(top_k_relevant_views['sql'].values)

### SQL generation using the schema only

In [ ]:
user_message = f"""
I have the following database schema:

BEGIN SCHEMA

{db.schema_wording()}

END SCHEMA

Please, give me a SQL query that answers the following question:
{queries[test_query_id].get_nl_query()}
Please, respond with just the SQL query. Do not include any additional comments or explanations.
"""

response = prompt_llm(user_message, "You are a database expert.", model='gpt-4o')

print("Prompt :", user_message)
print("Response :", response)

Prompt :
I have the following database schema:

BEGIN SCHEMA

CREATE TABLE frpm (
  CDSCode TEXT NOT NULL PRIMARY KEY,
  Academic Year TEXT,
  County Code TEXT,
  District Code INTEGER,
  School Code TEXT,
  County Name TEXT,
  District Name TEXT,
  School Name TEXT,
  District Type TEXT,
  School Type TEXT,
  Educational Option Type TEXT,
  NSLP Provision Status TEXT,
  Charter School (Y/N) INTEGER,
  Charter School Number TEXT,
  Charter Funding Type TEXT,
  IRC INTEGER,
  Low Grade TEXT,
  High Grade TEXT,
  Enrollment (K-12) REAL,
  Free Meal Count (K-12) REAL,
  Percent (%) Eligible Free (K-12) REAL,
  FRPM Count (K-12) REAL,
  Percent (%) Eligible FRPM (K-12) REAL,
  Enrollment (Ages 5-17) REAL,
  Free Meal Count (Ages 5-17) REAL,
  Percent (%) Eligible Free (Ages 5-17) REAL,
  FRPM Count (Ages 5-17) REAL,
  Percent (%) Eligible FRPM (Ages 5-17) REAL,
  2013-14 CALPADS Fall 1 Certification Status INTEGER
  FOREIGN KEY (CDSCode) REFERENCES schools(CDSCode)
);

-- Sample Data:
('01100170109835', '2014-2015', '01', 10017, '0109835', 'Alameda', 'Alameda County Office of Education', 'FAME Public Charter', 'County Office of Education (COE)', 'K-12 Schools (Public)', 'Traditional', None, 1, '0728', 'Directly funded', 1, 'K', '12', 1087.0, 565.0, 0.519779208831647, 715.0, 0.657773689052438, 1070.0, 553.0, 0.516822429906542, 702.0, 0.65607476635514, 1)
('01100170112607', '2014-2015', '01', 10017, '0112607', 'Alameda', 'Alameda County Office of Education', 'Envision Academy for Arts & Technology', 'County Office of Education (COE)', 'High Schools (Public)', 'Traditional', None, 1, '0811', 'Directly funded', 1, '9', '12', 395.0, 186.0, 0.470886075949367, 186.0, 0.470886075949367, 376.0, 182.0, 0.484042553191489, 182.0, 0.484042553191489, 1)
('01100170118489', '2014-2015', '01', 10017, '0118489', 'Alameda', 'Alameda County Office of Education', 'Aspire California College Preparatory Academy', 'County Office of Education (COE)', 'High Schools (Public)', 'Traditional', None, 1, '1049', 'Directly funded', 1, '9', '12', 244.0, 134.0, 0.549180327868853, 175.0, 0.717213114754098, 230.0, 128.0, 0.556521739130435, 168.0, 0.730434782608696, 1)
('01100170123968', '2014-2015', '01', 10017, '0123968', 'Alameda', 'Alameda County Office of Education', 'Community School for Creative Education', 'County Office of Education (COE)', 'Elementary Schools (Public)', 'Traditional', 'Breakfast Provision 2', 1, '1284', 'Directly funded', 1, 'K', '8', 191.0, 113.0, 0.591623036649215, 139.0, 0.727748691099476, 190.0, 113.0, 0.594736842105263, 139.0, 0.731578947368421, 1)
('01100170124172', '2014-2015', '01', 10017, '0124172', 'Alameda', 'Alameda County Office of Education', 'Yu Ming Charter', 'County Office of Education (COE)', 'Elementary Schools (Public)', 'Traditional', None, 1, '1296', 'Directly funded', 1, 'K', '8', 257.0, 14.0, 0.0544747081712062, 21.0, 0.0817120622568093, 257.0, 14.0, 0.0544747081712062, 21.0, 0.0817120622568093, 1)

CREATE TABLE satscores (
  cds TEXT NOT NULL PRIMARY KEY,
  rtype TEXT NOT NULL,
  sname TEXT,
  dname TEXT,
  cname TEXT,
  enroll12 INTEGER NOT NULL,
  NumTstTakr INTEGER NOT NULL,
  AvgScrRead INTEGER,
  AvgScrMath INTEGER,
  AvgScrWrite INTEGER,
  NumGE1500 INTEGER
  FOREIGN KEY (cds) REFERENCES schools(CDSCode)
);

-- Sample Data:
('1100170000000', 'D', None, 'Alameda County Office of Education', 'Alameda', 398, 88, 418, 418, 417, 14)
('1100170109835', 'S', 'FAME Public Charter', 'Alameda County Office of Education', 'Alameda', 62, 17, 503, 546, 505, 9)
('1100170112607', 'S', 'Envision Academy for Arts & Technology', 'Alameda County Office of Education', 'Alameda', 75, 71, 397, 387, 395, 5)
('1100170118489', 'S', 'Aspire California College Preparatory Academy', 'Alameda County Office of Education', 'Alameda', 61, 0, None, None, None, None)
('1611190000000', 'D', None, 'Alameda Unified', 'Alameda', 922, 544, 521, 546, 519, 333)

CREATE TABLE schools (
  CDSCode TEXT NOT NULL PRIMARY KEY,
  NCESDist TEXT,
  NCESSchool TEXT,
  StatusType TEXT NOT NULL,
  County TEXT NOT NULL,
  District TEXT NOT NULL,
  School TEXT,
  Street TEXT,
  StreetAbr TEXT,
  City TEXT,
  Zip TEXT,
  State TEXT,
  MailStreet TEXT,
  MailStrAbr TEXT,
  MailCity TEXT,
  MailZip TEXT,
  MailState TEXT,
  Phone TEXT,
  Ext TEXT,
  Website TEXT,
  OpenDate DATE,
  ClosedDate DATE,
  Charter INTEGER,
  CharterNum TEXT,
  FundingType TEXT,
  DOC TEXT NOT NULL,
  DOCType TEXT NOT NULL,
  SOC TEXT,
  SOCType TEXT,
  EdOpsCode TEXT,
  EdOpsName TEXT,
  EILCode TEXT,
  EILName TEXT,
  GSoffered TEXT,
  GSserved TEXT,
  Virtual TEXT,
  Magnet INTEGER,
  Latitude REAL,
  Longitude REAL,
  AdmFName1 TEXT,
  AdmLName1 TEXT,
  AdmEmail1 TEXT,
  AdmFName2 TEXT,
  AdmLName2 TEXT,
  AdmEmail2 TEXT,
  AdmFName3 TEXT,
  AdmLName3 TEXT,
  AdmEmail3 TEXT,
  LastUpdate DATE NOT NULL
);

-- Sample Data:
('01100170000000', '0691051', None, 'Active', 'Alameda', 'Alameda County Office of Education', None, '313 West Winton Avenue', '313 West Winton Ave.', 'Hayward', '94544-1136', 'CA', '313 West Winton Avenue', '313 West Winton Ave.', 'Hayward', '94544-1136', 'CA', '(510) 887-0152', None, 'www.acoe.org', None, None, None, None, None, '00', 'County Office of Education (COE)', None, None, None, None, None, None, None, None, None, None, 37.658212, -122.09713, 'L Karen', 'Monroe', 'lkmonroe@acoe.org', None, None, None, None, None, None, '2015-06-23')
('01100170109835', '0691051', '10546', 'Closed', 'Alameda', 'Alameda County Office of Education', 'FAME Public Charter', '39899 Balentine Drive, Suite 335', '39899 Balentine Dr., Ste. 335', 'Newark', '94560-5359', 'CA', '39899 Balentine Drive, Suite 335', '39899 Balentine Dr., Ste. 335', 'Newark', '94560-5359', 'CA', None, None, None, '2005-08-29', '2015-07-31', 1, '0728', 'Directly funded', '00', 'County Office of Education (COE)', '65', 'K-12 Schools (Public)', 'TRAD', 'Traditional', 'ELEMHIGH', 'Elementary-High Combination', 'K-12', 'K-12', 'P', 0, 37.521436, -121.99391, None, None, None, None, None, None, None, None, None, '2015-09-01')
('01100170112607', '0691051', '10947', 'Active', 'Alameda', 'Alameda County Office of Education', 'Envision Academy for Arts & Technology', '1515 Webster Street', '1515 Webster St.', 'Oakland', '94612-3355', 'CA', '1515 Webster Street', '1515 Webster St.', 'Oakland', '94612', 'CA', '(510) 596-8901', None, 'www.envisionacademy.org/', '2006-08-28', None, 1, '0811', 'Directly funded', '00', 'County Office of Education (COE)', '66', 'High Schools (Public)', 'TRAD', 'Traditional', 'HS', 'High School', '9-12', '9-12', 'N', 0, 37.80452, -122.26815, 'Laura', 'Robell', 'laura@envisionacademy.org', None, None, None, None, None, None, '2015-06-18')
('01100170118489', '0691051', '12283', 'Closed', 'Alameda', 'Alameda County Office of Education', 'Aspire California College Preparatory Academy', '2125 Jefferson Avenue', '2125 Jefferson Ave.', 'Berkeley', '94703-1414', 'CA', '1001 22nd Avenue, Suite 100', '1001 22nd Ave., Ste. 100', 'Oakland', '94606', 'CA', None, None, 'www.aspirepublicschools.org', '2008-08-21', '2015-06-30', 1, '1049', 'Directly funded', '00', 'County Office of Education (COE)', '66', 'High Schools (Public)', 'TRAD', 'Traditional', 'HS', 'High School', '9-12', '9-12', 'N', 0, 37.868991, -122.27844, None, None, None, None, None, None, None, None, None, '2015-07-01')
('01100170123968', '0691051', '12844', 'Active', 'Alameda', 'Alameda County Office of Education', 'Community School for Creative Education', '2111 International Boulevard', '2111 International Blvd.', 'Oakland', '94606-4903', 'CA', '2111 International Boulevard', '2111 International Blvd.', 'Oakland', '94606-4903', 'CA', '(510) 686-4131', None, 'www.communityschoolforcreativeeducation.org', '2011-08-22', None, 1, '1284', 'Directly funded', '00', 'County Office of Education (COE)', '60', 'Elementary Schools (Public)', 'TRAD', 'Traditional', 'ELEM', 'Elementary', 'K-8', 'K-7', 'N', 0, 37.784648, -122.23863, 'Clifford', 'Thompson', 'cliffordt@communityschoolforcreativeeducation.org', None, None, None, None, None, None, '2016-07-18')



END SCHEMA

Please, give me a SQL query that answers the following question:
For the school with the highest average score in Reading in the SAT test, what is its FRPM count for students aged 5-17?
Please, respond with just the SQL query. Do not include any additional comments or explanations.

Response : ```sql
SELECT f.School_Name, f.FRPM_Count_(Ages_5-17)
FROM frpm f
JOIN satscores s ON f.CDSCode = s.cds
WHERE s.AvgScrRead = (SELECT MAX(AvgScrRead) FROM satscores)
```

### SQL generation using the schema and relevant views (RAG)

In [ ]:
user_message = f"""
I have the following database schema:

BEGIN SCHEMA

{db.schema_wording()}

END SCHEMA

I have the following views that can be used to answer the question:

BEGIN VIEWS

{top_k_relevant_views_wording}

END VIEWS

Please, give me a SQL query that answers the following question:
{queries[test_query_id].get_nl_query()}
Please, respond with just the SQL query. Do not include any additional comments or explanations.
"""

response = prompt_llm(user_message, "You are a database expert.", model='gpt-4o')

print("Prompt :", user_message)
print("Response :", response)

Prompt :
I have the following database schema:

BEGIN SCHEMA

CREATE TABLE frpm (
  CDSCode TEXT NOT NULL PRIMARY KEY,
  Academic Year TEXT,
  County Code TEXT,
  District Code INTEGER,
  School Code TEXT,
  County Name TEXT,
  District Name TEXT,
  School Name TEXT,
  District Type TEXT,
  School Type TEXT,
  Educational Option Type TEXT,
  NSLP Provision Status TEXT,
  Charter School (Y/N) INTEGER,
  Charter School Number TEXT,
  Charter Funding Type TEXT,
  IRC INTEGER,
  Low Grade TEXT,
  High Grade TEXT,
  Enrollment (K-12) REAL,
  Free Meal Count (K-12) REAL,
  Percent (%) Eligible Free (K-12) REAL,
  FRPM Count (K-12) REAL,
  Percent (%) Eligible FRPM (K-12) REAL,
  Enrollment (Ages 5-17) REAL,
  Free Meal Count (Ages 5-17) REAL,
  Percent (%) Eligible Free (Ages 5-17) REAL,
  FRPM Count (Ages 5-17) REAL,
  Percent (%) Eligible FRPM (Ages 5-17) REAL,
  2013-14 CALPADS Fall 1 Certification Status INTEGER
  FOREIGN KEY (CDSCode) REFERENCES schools(CDSCode)
);

-- Sample Data:
('01100170109835', '2014-2015', '01', 10017, '0109835', 'Alameda', 'Alameda County Office of Education', 'FAME Public Charter', 'County Office of Education (COE)', 'K-12 Schools (Public)', 'Traditional', None, 1, '0728', 'Directly funded', 1, 'K', '12', 1087.0, 565.0, 0.519779208831647, 715.0, 0.657773689052438, 1070.0, 553.0, 0.516822429906542, 702.0, 0.65607476635514, 1)
('01100170112607', '2014-2015', '01', 10017, '0112607', 'Alameda', 'Alameda County Office of Education', 'Envision Academy for Arts & Technology', 'County Office of Education (COE)', 'High Schools (Public)', 'Traditional', None, 1, '0811', 'Directly funded', 1, '9', '12', 395.0, 186.0, 0.470886075949367, 186.0, 0.470886075949367, 376.0, 182.0, 0.484042553191489, 182.0, 0.484042553191489, 1)
('01100170118489', '2014-2015', '01', 10017, '0118489', 'Alameda', 'Alameda County Office of Education', 'Aspire California College Preparatory Academy', 'County Office of Education (COE)', 'High Schools (Public)', 'Traditional', None, 1, '1049', 'Directly funded', 1, '9', '12', 244.0, 134.0, 0.549180327868853, 175.0, 0.717213114754098, 230.0, 128.0, 0.556521739130435, 168.0, 0.730434782608696, 1)
('01100170123968', '2014-2015', '01', 10017, '0123968', 'Alameda', 'Alameda County Office of Education', 'Community School for Creative Education', 'County Office of Education (COE)', 'Elementary Schools (Public)', 'Traditional', 'Breakfast Provision 2', 1, '1284', 'Directly funded', 1, 'K', '8', 191.0, 113.0, 0.591623036649215, 139.0, 0.727748691099476, 190.0, 113.0, 0.594736842105263, 139.0, 0.731578947368421, 1)
('01100170124172', '2014-2015', '01', 10017, '0124172', 'Alameda', 'Alameda County Office of Education', 'Yu Ming Charter', 'County Office of Education (COE)', 'Elementary Schools (Public)', 'Traditional', None, 1, '1296', 'Directly funded', 1, 'K', '8', 257.0, 14.0, 0.0544747081712062, 21.0, 0.0817120622568093, 257.0, 14.0, 0.0544747081712062, 21.0, 0.0817120622568093, 1)

CREATE TABLE satscores (
  cds TEXT NOT NULL PRIMARY KEY,
  rtype TEXT NOT NULL,
  sname TEXT,
  dname TEXT,
  cname TEXT,
  enroll12 INTEGER NOT NULL,
  NumTstTakr INTEGER NOT NULL,
  AvgScrRead INTEGER,
  AvgScrMath INTEGER,
  AvgScrWrite INTEGER,
  NumGE1500 INTEGER
  FOREIGN KEY (cds) REFERENCES schools(CDSCode)
);

-- Sample Data:
('1100170000000', 'D', None, 'Alameda County Office of Education', 'Alameda', 398, 88, 418, 418, 417, 14)
('1100170109835', 'S', 'FAME Public Charter', 'Alameda County Office of Education', 'Alameda', 62, 17, 503, 546, 505, 9)
('1100170112607', 'S', 'Envision Academy for Arts & Technology', 'Alameda County Office of Education', 'Alameda', 75, 71, 397, 387, 395, 5)
('1100170118489', 'S', 'Aspire California College Preparatory Academy', 'Alameda County Office of Education', 'Alameda', 61, 0, None, None, None, None)
('1611190000000', 'D', None, 'Alameda Unified', 'Alameda', 922, 544, 521, 546, 519, 333)

CREATE TABLE schools (
  CDSCode TEXT NOT NULL PRIMARY KEY,
  NCESDist TEXT,
  NCESSchool TEXT,
  StatusType TEXT NOT NULL,
  County TEXT NOT NULL,
  District TEXT NOT NULL,
  School TEXT,
  Street TEXT,
  StreetAbr TEXT,
  City TEXT,
  Zip TEXT,
  State TEXT,
  MailStreet TEXT,
  MailStrAbr TEXT,
  MailCity TEXT,
  MailZip TEXT,
  MailState TEXT,
  Phone TEXT,
  Ext TEXT,
  Website TEXT,
  OpenDate DATE,
  ClosedDate DATE,
  Charter INTEGER,
  CharterNum TEXT,
  FundingType TEXT,
  DOC TEXT NOT NULL,
  DOCType TEXT NOT NULL,
  SOC TEXT,
  SOCType TEXT,
  EdOpsCode TEXT,
  EdOpsName TEXT,
  EILCode TEXT,
  EILName TEXT,
  GSoffered TEXT,
  GSserved TEXT,
  Virtual TEXT,
  Magnet INTEGER,
  Latitude REAL,
  Longitude REAL,
  AdmFName1 TEXT,
  AdmLName1 TEXT,
  AdmEmail1 TEXT,
  AdmFName2 TEXT,
  AdmLName2 TEXT,
  AdmEmail2 TEXT,
  AdmFName3 TEXT,
  AdmLName3 TEXT,
  AdmEmail3 TEXT,
  LastUpdate DATE NOT NULL
);

-- Sample Data:
('01100170000000', '0691051', None, 'Active', 'Alameda', 'Alameda County Office of Education', None, '313 West Winton Avenue', '313 West Winton Ave.', 'Hayward', '94544-1136', 'CA', '313 West Winton Avenue', '313 West Winton Ave.', 'Hayward', '94544-1136', 'CA', '(510) 887-0152', None, 'www.acoe.org', None, None, None, None, None, '00', 'County Office of Education (COE)', None, None, None, None, None, None, None, None, None, None, 37.658212, -122.09713, 'L Karen', 'Monroe', 'lkmonroe@acoe.org', None, None, None, None, None, None, '2015-06-23')
('01100170109835', '0691051', '10546', 'Closed', 'Alameda', 'Alameda County Office of Education', 'FAME Public Charter', '39899 Balentine Drive, Suite 335', '39899 Balentine Dr., Ste. 335', 'Newark', '94560-5359', 'CA', '39899 Balentine Drive, Suite 335', '39899 Balentine Dr., Ste. 335', 'Newark', '94560-5359', 'CA', None, None, None, '2005-08-29', '2015-07-31', 1, '0728', 'Directly funded', '00', 'County Office of Education (COE)', '65', 'K-12 Schools (Public)', 'TRAD', 'Traditional', 'ELEMHIGH', 'Elementary-High Combination', 'K-12', 'K-12', 'P', 0, 37.521436, -121.99391, None, None, None, None, None, None, None, None, None, '2015-09-01')
('01100170112607', '0691051', '10947', 'Active', 'Alameda', 'Alameda County Office of Education', 'Envision Academy for Arts & Technology', '1515 Webster Street', '1515 Webster St.', 'Oakland', '94612-3355', 'CA', '1515 Webster Street', '1515 Webster St.', 'Oakland', '94612', 'CA', '(510) 596-8901', None, 'www.envisionacademy.org/', '2006-08-28', None, 1, '0811', 'Directly funded', '00', 'County Office of Education (COE)', '66', 'High Schools (Public)', 'TRAD', 'Traditional', 'HS', 'High School', '9-12', '9-12', 'N', 0, 37.80452, -122.26815, 'Laura', 'Robell', 'laura@envisionacademy.org', None, None, None, None, None, None, '2015-06-18')
('01100170118489', '0691051', '12283', 'Closed', 'Alameda', 'Alameda County Office of Education', 'Aspire California College Preparatory Academy', '2125 Jefferson Avenue', '2125 Jefferson Ave.', 'Berkeley', '94703-1414', 'CA', '1001 22nd Avenue, Suite 100', '1001 22nd Ave., Ste. 100', 'Oakland', '94606', 'CA', None, None, 'www.aspirepublicschools.org', '2008-08-21', '2015-06-30', 1, '1049', 'Directly funded', '00', 'County Office of Education (COE)', '66', 'High Schools (Public)', 'TRAD', 'Traditional', 'HS', 'High School', '9-12', '9-12', 'N', 0, 37.868991, -122.27844, None, None, None, None, None, None, None, None, None, '2015-07-01')
('01100170123968', '0691051', '12844', 'Active', 'Alameda', 'Alameda County Office of Education', 'Community School for Creative Education', '2111 International Boulevard', '2111 International Blvd.', 'Oakland', '94606-4903', 'CA', '2111 International Boulevard', '2111 International Blvd.', 'Oakland', '94606-4903', 'CA', '(510) 686-4131', None, 'www.communityschoolforcreativeeducation.org', '2011-08-22', None, 1, '1284', 'Directly funded', '00', 'County Office of Education (COE)', '60', 'Elementary Schools (Public)', 'TRAD', 'Traditional', 'ELEM', 'Elementary', 'K-8', 'K-7', 'N', 0, 37.784648, -122.23863, 'Clifford', 'Thompson', 'cliffordt@communityschoolforcreativeeducation.org', None, None, None, None, None, None, '2016-07-18')



END SCHEMA

I have the following views that can be used to answer the question:

BEGIN VIEWS

CREATE VIEW vw_sat_scores AS SELECT cds AS school_id, AvgScrRead AS avg_reading_score, AvgScrMath AS avg_math_score, AvgScrWrite AS avg_writing_score FROM satscores;

CREATE VIEW vw_sat_scores AS SELECT cds AS CDSCode, AvgScrRead AS average_reading_score, AvgScrMath AS average_math_score, AvgScrWrite AS average_writing_score FROM satscores;

CREATE VIEW vw_school_charter_type AS SELECT CDSCode, GSserved AS school_type, Charter AS charter_status FROM schools;

CREATE VIEW vw_funding_type AS SELECT CDSCode, FundingType FROM schools;

CREATE VIEW vw_educational_option_type AS SELECT CDSCode, EdOpsName AS EducationalOptionType FROM schools;

END VIEWS

Please, give me a SQL query that answers the following question:
For the school with the highest average score in Reading in the SAT test, what is its FRPM count for students aged 5-17?
Please, respond with just the SQL query. Do not include any additional comments or explanations.

Response : ```sql
SELECT f.CDSCode, f.FRPM_Count_5_17
FROM frpm f
JOIN (
    SELECT cds, MAX(AvgScrRead) AS max_reading_score
    FROM satscores
    WHERE AvgScrRead IS NOT NULL
) AS max_reading
ON f.CDSCode = max_reading.cds
WHERE f.Academic_Year = '2014-2015';
```